*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 60px 1fr 80px;
}

header{
background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
display: flex;
justify-content: space-between;
grid-column: 1/-1;
}

header img{
    margin-left: 15px;
    width: 45px;
    height: 50px;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}
 header a{
     margin: 10px;
     text-decoration: none;
 }

header button{
    margin: 20px 40px;
    width: 70px;
    background-color: ghostwhite;
}

header button:hover{
    background-color: rgb(161, 159, 159);
}

main{
    margin: 30px;

}

main nav{
    display: flex;
}

main nav img{
    width: 50px;
}

main nav h2{
    display: flex;
    align-items: center;
    
}

main h3{
    margin-top: 20px;
    background-color: rgb(243, 231, 231);
    border: solid 100px;
    border-top: 100px;
    border-bottom: 10px;
    border-left: 10px;
    border-right: 10px;
    border-radius: 15px;
}
 .card-principal{
     display:grid;
     grid-template-columns: repeat(5, 1fr);
     row-gap: 10px;
     column-gap: 10px;
 }

 .card-produto{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px 2px darkgray;
    margin: 10px;
}

.card-produto h4{
    margin-top: 10px;
}

.card-produto img{
    width: 70%;
    border: 1px solid beige;
}

footer{
    padding-left: 60px ;
    padding-right: 60px ;
    
} 

footer div{
    border-top: 1px solid gray;
    
}

.rede-social{
    display: flex;
    flex-direction: center;
    justify-content: center;
}

footer nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

footer p{
    display: flex;
    justify-content: center;
 }

footer img{
    width: 25px;
    margin: 3px;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card-principal{
     display: flex;
     flex-wrap: wrap;
 }
 header{
     display: flex;
     justify-content: flex-start;
     margin: 0px;
 }
 header img{
    margin-right: 10px;
}
header div{
    margin: 0px;
}
}